<% if current_user %>
  <%= image_tag current_user.image, :class=>"profile_image", :width => 32, :height => 32%>
  <%= link_to "Sign Out", signout_path %>
<% else %>
  <%= link_to image_tag("facebook-connect.png") , "/auth/facebook", :class => "fb_button" %>
<% end %>