<div class="page_title">
  <h4><%= element.name.titleize %> </h4>
  <%= render "/overview/summary/tags", :element => element %>
</div>
<p class="description"><%=raw element.description %></p>


<div class="overlay">
  <div class="page_title">
    <h4><%= element.name.titleize %> </h4>
    <%= render "/overview/summary/tags", :element => element %>
  </div>
  <p class="description"><%=raw element.description(50) %></p>

  <div class="actions"> 
    <p>
      <%= link_to icon("home") + element.url, element.url %>
    </p>
    <p>
      <%= element.updated_by %>
    </p>
    <p>
      <%= element.delete_btn %>
    </p>
  </div>
</div>