<div class="link_title">
  <h4><%= element.name.titleize %> </h4>
  <%= render "/overview/summary/tags", :element => element %>
</div>
<p class="description"><%=raw element.description %></p>


<div class="overlay">
  <div class="link_title">
    <h4><%= element.name.titleize %> </h4>
    <%= render "/overview/summary/tags", :element => element %>
  </div>
  <p class="description"><%=raw element.description %></p>

  <div class="actions"> 
      
    <p>
      <%= element.updated_by %>
    </p>
    <p>
      <%= element.view_link %>
    </p>
    <p>
      <%= element.delete_btn %>
    </p>
  </div>
</div>