<div class="repository_title">
  <h4><%= element.name.capitalize %> </h4>
  <%= render "/overview/summary/tags", :element => element %>
</div>
<p class="description"><%= element.description %></p>


<div class="overlay">
  <div class="repository_title">
    <h4><%= element.name.capitalize %> </h4>
    <%= render "/overview/summary/tags", :element => element %>
  </div>
  <p class="description"><%= element.description %></p>

  <div class="actions"> 
    <p>
      <%= link_to icon("home") + element.homepage, element.homepage %>
    </p>
    <p>
      <%= link_to icon("inbox") + "clone/fork on GitHub", element.repository_url %>
    </p>
    <p>
      <%= element.updated_by %>
    </p>
    <p>
      <%= element.delete_btn %>
    </p>
  </div>
</div>