<div class="actions">
  <%= link_to (icon("pencil") + "Raw"), "#", :class=>"btn" %>
  <%= element.delete_btn %>
</div>
<h4><%= element.name %></h4>
<%= render "/overview/summary/tags", :element => element %>
<%= pre(element.preview, element.language.extension) %>
<p>
  <%= element.updated_by %>
</p>