<p class="tags">
  <%= tagging(element.primary_tag, "info") %>
  
  <% element.tags[0,5].each do |tag|
    next if (element.primary_tag.downcase == tag.name.downcase) %>
    <%= tagging(tag.name) %>
  <% end %>
</p>