<%= render "/overview/search" %>


<section>
  <div class="page-header">
    <h3>Latest Pages <small> of <%= Page.count %> in total</small></h3>
  </div>
  <% @pages.each_slice(3) do |slice| %>
  <div class="row-fluid">
    <% slice.each do |element| %>
    <div class="span4 page-preview" id="page-summary-<%= element.id %>">
      <%= render "overview/summary/page", :element => element %>
    </div>
    <% end %>
  </div>
  <% end %>
</section>


<section>
  <div class="page-header">
    <h3>Latest Repositories <small> of <%= Repository.count %> in total</small></h3>
  </div>
  <% @repositories.each_slice(3) do |slice| %>
  <div class="row-fluid">
    <% slice.each do |element| %>
    <div class="span4 repository-preview" id="repository-summary-<%= element.id %>">
      <%= render "overview/summary/repository", :element => element %>
    </div>
    <% end %>
  </div>
  <% end %>
</section>


<section>
  <div class="page-header">
    <h3>Latest Links <small> of <%= Link.count %> in total</small></h3>
  </div>
  <% @links.each_slice(3) do |slice| %>
  <div class="row-fluid">
    <% slice.each do |element| %>
    <div class="span4 link-preview" id="link-summary-<%= element.id %>">
      <%= render "overview/summary/link", :element => element %>
    </div>
    <% end %>
  </div>
  <% end %>
</section>


<section>
  <div class="page-header">
    <h3>Latest Snippets <small>of <%= Snippet.count %> in total</small></h3>
  </div>
  <% @snippets.each do |snippet| %>
  <div class="row-fluid">
    <div class="span12 snippet-preview" id="snippet-summary-<%= snippet.id %>">
      <%= render "overview/summary/snippet", :element => snippet %>
    </div>
  </div>
  <% end %>
</section>




<% content_for :sidebar do %>
  <%= render "layouts/sidebar" %>  
<% end %>