<div class="mercury-select-options">
  <div class="heading1" data-class="heading1">Heading1</div>
  <div class="heading2" data-class="heading2">Heading2</div>
  <div class="paragraph" data-class="paragraph">Paragraph</div>
  <div class="code" data-class="code">Code</div>
</div>
