<div class="mercury-select-options">
  <!-- <h1 data-tag="h1">Heading 1 <span>&lt;h1&gt;</span></h1> -->
  <h2 data-tag="h2">Heading 2 <span>&lt;h2&gt;</span></h2>
  <h3 data-tag="h3">Heading 3 <span>&lt;h3&gt;</span></h3>
  <h4 data-tag="h4">Heading 4 <span>&lt;h4&gt;</span></h4>
  <!-- <h5 data-tag="h5">Heading 5 <span>&lt;h5&gt;</span></h5> -->
  <!-- <h6 data-tag="h6">Heading 6 <span>&lt;h6&gt;</span></h6> -->
  <div data-tag="p">Paragraph <span>&lt;p&gt;</span></div>
  <div data-tag="blockquote">Blockquote <span>&lt;blockquote&gt;</span></div>
  <div data-tag="pre">Formatted <span>&lt;pre&gt;</span></div>
</div>
