<div class="page-header">
  <h1 id="page_name">
    <%= resource.name%>
    <small>
      <%= link_to "Edit Page", "/editor" + request.path + "/raw", id: "edit_link", data: { save_url: mercury_update_page_path(resource)}, :class=>"btn" %>
    </small>
  </h1>
</div>

<div id="page_body" class="mercury-region" data-type="markupable">
  <%= !@is_raw ? markdown(resource.body.to_s) : raw(resource.body.to_s)%>
</div>


<% content_for :sidebar do %>
  <%= render "/pages/sidebar" %>
<% end %>