<%= simple_form_for @link do |f| %>
  <%= f.association :category, :as => :select, :input_html => {:class=>'span10'}%>
  <%= f.input :url, :input_html => {:class=>'span10'}, :placeholder => "ie: https://www.dgm59.com/" %>
  <%= f.input :description, :input_html => {:class=>'span10'}, :placeholder => "optional, will be added together to the page meta description" %>
  <%= f.input :tag_list, :label => "Tags", :as => :autocomplete, :url => autocomplete_tag_name_repositories_path , :input_html => {:"data-delimiter"=>', ', :placeholder => "enter tags separated by ,  "} %>
  <%= f.input :user_id, :as => :hidden, :input_html =>{:value => @current_user.id}%>
  <%#= f.input :comment %>
  <%= f.button :submit, :class=>'btn btn-primary'%>
<% end %>