<%= simple_form_for @page do |f| %>
  <%#= f.association :category, :as => :select, :input_html => {:class=>'span10'}%>
  <%= f.input :name, :input_html => {:class=>'span10'} %>
  <%= f.association :project, :as => :select, :input_html => {:class=>'span10'} %>
  <%= f.input :description, :input_html => {:class=>'span10', :rows=>'2'}, :placeholder => "What is the page about?" %>
  <%= f.input :tag_list, :label => "Tags", :as => :autocomplete, :url => autocomplete_tag_name_repositories_path , :input_html => {:"data-delimiter"=>', ', :placeholder => "enter tags separated by ,  "} %>
  <%= f.input :user_id, :as => :hidden, :input_html =>{:value => @current_user.id}%>
  <%= f.button :submit, :class=>'btn btn-primary'%>
<% end %>