<%= simple_form_for @repository do |f| %>
  <%= f.input :repository_url, :input_html => {:class=>'span10'}, :placeholder => "ie: https://github.com/diaspora/diaspora" %>
  <%#= f.input :homepage, :input_html => {:class=>'span10'} %>
  <%= f.input :tag_list, :label => "Tags", :as => :autocomplete, :url => autocomplete_tag_name_repositories_path , :input_html => {:"data-delimiter"=>', ', :placeholder => "enter tags separated by ,  "} %>
  <%= f.input :user_id, :as => :hidden, :input_html =>{:value => @current_user.id}%>
  <%#= f.input :comment %>
  <%= f.button :submit, :class=>'btn btn-primary'%>
<% end %>