<%= simple_form_for @snippet do |f| %>
  <%= f.association :language, :as => :select, :input_html => {:class=>'span10'}%>
  <%= f.input :name, :input_html => {:class=>'span10'} %>
  <%= f.input :description, :input_html => {:class=>'span10', :rows => 2}, :placeholder => "description/explanation of your snippet"%>
  <%= f.input :body, :input_html => {:class=>'span10', :rows => 5}, :label => "Code"%>
  <%= f.input :tag_list, :label => "Tags", :as => :autocomplete, :url => autocomplete_tag_name_snippets_path , :input_html => {:"data-delimiter"=>', ', :placeholder => "enter tags separated by ,  "} %>
  <%= f.input :user_id, :as => :hidden, :input_html =>{:value => @current_user.id}%>
  <%= f.button :submit, :class => 'btn btn-primary'%>
<% end %>