    <p><a id="new-knowledge" class="btn btn-success btn-large" data-target="#new_knowledge" data-toggle="modal" >Create New Knowledge!</a></p>
    <hr />
  
  
  <div class="well sidebar-nav">
    <ul class="nav nav-list contribution">
      <li class="nav-header">Team Contribution</li>
    
      <% total = [Snippet,Repository, Link].map{|klass| klass.count}.inject(:+) %>
      <% User.all.each do |user| %>
      <li>
        <div class="progress">
          <span><%= user.name %></span>
          <div class="bar" style="width: <%= user.contribution/total.to_f * 100  %>%;">
          </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>

  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Learn By Categories:</li>
      <% ["Snippets", "Repositories, Links"].each do |category| %>
        <li class=""><%= link_to category,  "#" %></li>
      <% end %>
    </ul>
  </div><!--/.well -->

  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Learn By Languages:</li>
      <% Language.all.each do |lang| %>
      <li class=""><%= link_to lang %></li>
      <% end %>
    </ul>
  </div><!--/.well -->
  
  
  <div class="modal fade" id="new_knowledge">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h3>New Knowledge</h3>
    </div>
    <div class="modal-body">
      
      <% if current_user %>
        <ul class="tabs nav-tabs nav">
          <li class="active"><a href="#snippet_form" data-toggle="tab">Code Snippet</a></li>
          <li><a href="#repository_form" data-toggle="tab">Code Repository</a></li>
          <li><a href="#link_form" data-toggle="tab">Link</a></li>
          <li><a href="#page_form" data-toggle="tab">Page</a></li>
        </ul>
        
        <div class="tab-content">
          <div class="tab-pane active" id="snippet_form">
            <%= render "overview/form/snippet" %>
          </div>
          <div class="tab-pane" id="repository_form">
            <%= render "overview/form/repository" %>
          </div>
          <div class="tab-pane" id="link_form">
            <%= render "overview/form/link" %>
          </div>
          <div class="tab-pane" id="page_form">
            <%= render "overview/form/page" %>
          </div>
        </div>
      <% else %>
        <div class="well">
          <%= render "sessions/user" %>
        </div>
      <% end %>
    </div>
  </div>